<%- include('../includes/head.ejs') %>

<body>
  <%- include('../content/menu/menu.ejs') %>
  <br />
  <%- include('../auth/regform.ejs') %>
  <br />
  <%- include('../auth/authform.ejs') %>
</body>
<%- include('../includes/end.ejs') %>
