<%- include('../includes/head.ejs') %>

<body>
  <%- include('../content/userdashboard/users.ejs') %> <%- include('../content/menu/menu.ejs') %>
  <%- include('../auth/regform.ejs') %> <%- include('../auth/authform.ejs') %>
</body>
<%- include('../includes/end.ejs') %>
